

<div class="sidenav">
  <h8>Welcome</h8><br>
    <h8 class = "name">{{user_name}}</h8>
  <img src = "/Pictures/home-icon.png">
  <a href="/about">About Us</a>
  <img src = "/Pictures/write-icon.png">
  <a href="/write">Write Blog</a>
  <img src = "/Pictures/read-icon.png">
  <a href="/read">Read Blog</a>
  <img src = "/Pictures/contactus-icon.png">
  <a href="/contact">Contact Us</a>
  <a href = "/logout" href = "/logout">
  <img src = "/Pictures/logout-icon.png" class = "logout">
  </a>
</div>
