<link rel = "stylesheet" href = "/public:elements/bootstrap/dist/css/bootstrap.min.css">
<script src ="/public:elements/angular/angular.js"></script>
<script src ="/public:elements/jquery/dist/jquery.min.js"></script>
<script src ="/public:elements/popper.js/dist/umd/popper.min.js"></script>
<script src ="/public:elements/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel = "stylesheet" href = "/public:stylesheet/sidebar.css">

<style = "text/css">
.jumbotron {
  margin-left: 160px;
  background-image: url("/public:Pictures/aboutus.png");
  background-size: 1300px 400px;
  height: 400px;
}

h3 {
  margin-left: 190px;
  margin-right: 30px;
}

h1 {
  margin-top: 50px;
}
</style>

<body>

  <div class="sidenav">
    <a href="/about">About Us</a>
    <a href="/write">Write Blog</a>
    <a href="/read">Read Blog</a>
    <a href="/contact">Contact</a>
  </div>

  <div class = "jumbotron"> </div>

  <div id = "about">
    <h1> About Us </h1>
    <h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</h3>

<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</h3>
<h1>{{user_name}}
</body>
